line-length = 88
indent-width = 4

[lint]
select = ["E", "W", "F", "I", "B", "C4", "UP", "TID", "SIM"]
ignore = []

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"