version: '3.8'

services:
  web:
    build: .
    command: gunicorn --bind 0.0.0.0:8000 careercenter.wsgi:application
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - SECRET_KEY=django-insecure-docker-dev-key